<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="https://raw.githubusercontent.com/INC-6/INC-6.github.io/master/_asset/main.jpg"></a>

  <nav class="navbar">
    <img src="https://firebasestorage.googleapis.com/v0/b/ssg-mart-app.appspot.com/o/logo.gif?alt=media&token=d5b38da6-c916-4c6f-83f1-b041c83cafb5"></a>
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
    </ul>
  </nav>

</header>
